
<h1>Listing posts</h1>

<h1 style = "display:none" , id = "banner-message" > <%= suggest %> </h1>
<li><%= link_to "Please Sign Out" , destroy_user_session_path  , :align=> "center" %></li>


<div id="toggle">
    <h2><%= suggest  %></h2>
</div>    

<table>
  <tr>
    <th>Title</th>
    <th>Text</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @posts.each do |post| %>
  <tr>
    <td><%= post.title %></td>
    <td><%= post.text %></td>
    <td><%= link_to 'Show', post %></td>
    <td><%= link_to 'Edit', edit_post_path(post) %></td>
    <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Post', new_post_path %>

